<section class="row">
    <div class="col-12 col-pr-12 pl-0 pr-0">
        <h2 class="section-title">
            <span class="icon {{ site.data.education.icon }}"></span>
            <span class="text-uppercase">{{ site.data.education.title }}</span>
        </h2>
        <div class="section-contents">
            <div class="education">
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.education.items %}
                    <li class="education-item">
                        <div class="row">
                            <div class="col-12 col-pr-12">
                                <p class="education-title">{{ item.title }}</p>
                                <p class="education-details">
                                    <span class="education-period">{{ item.period }}</span>,
                                    <span class="education-school">{{ item.school }}</span>
                                </p>
                                <p class="education-desc">{{ item.desc }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>