<header class="row">
    <img src="{{ site.data.header.img_src }}" class="header-wallpaper">
<!--    <div class="row">-->
<!--        <div class="col-1 align-self-end position-absolute">-->
<!--            <button class="btn btn-primary">abc</button>-->
<!--        </div>-->
<!--    </div>-->
    <div class="header-overlay">
        <div class="row h-100">
            <div class="col-6 col-pr-6 align-self-center mb-2">
                <div class="row">
                    <div class="col-12 col-pr-12 ml-5">
                        {% include title.html %}
                    </div>
                </div>
            </div>
            <div class="col-6 col-pr-6 align-self-end">
                <div class="row">
                    <div class="col-8 col-pr-8 offset-4">
                        {% include contact.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
