<section class="row">
    <div class="col-12 col-pr-12 pl-0 pr-0">
        <h2 class="section-title">
            <span class="icon {{ site.data.skills.icon }}"></span>
            <span class="text-uppercase">{{ site.data.skills.title }}</span>
        </h2>
        <div class="section-contents">
            <div class="skills">
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.skills.items %}
                    <li class="skill-item">
                        <div class="row">
                            <div class="col-5 col-pr-5">
                                <span class="skill-name">{{ item.name }}</span>
                            </div>
                            <div class="col-7 col-pr-7">
                                <span class="skill-level">
                                    {% for i in (1..6) %}
                                        {% if item.level >= i %}
                                        <span class="fas fa-circle"></span>
                                        {% else %}
                                        <span class="fas fa-circle text-lightgray"></span>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
