body {
  background-color: #eeeeee;
}

a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
}

ul.list-bulleted {
  list-style-type: disc;
}

hr {
  border-color: #d4e2ec;
}

.text-lightgray {
  color: #bebebe;
}

// Fix browsers that doesn't support flexbox
.row {
  display: block;
}

@supports (display: flex) {
  .row {
    display: flex;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    float: left;
  }
}
// End-of-fix

.cv {
  position: relative;
  border: 1px solid lightgray;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  width: 8.5in;
  height: 12in;
  margin-top: 50px;
  font-family: "Roboto";
  color: #233F4A;

  h1.name-surname {
    font-weight: bold;
    font-size: 60px;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 3px;
    font-family: "News Cycle";
  }

  h2.job-title {
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
    color: #d4e2ec;
  }

  .clause {
    font-size: 14px;
    font-family: "News Cycle";
    text-align: center;
  }

  header {
    position: relative;

    .header-wallpaper {
      width: 100%;
    }

    .header-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  section {
    margin-bottom: 25px;

    h2.section-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.2;
      font-style: normal;
      letter-spacing: 2px;
      margin-bottom: 15px;

      .icon {
        width: 1.25em;
        text-align: center;
      }
    }

    .section-contents {
      font-family: "News Cycle";
      font-size: 16px;
    }
  }

  .contact {
    font-size: 18px;
    font-style: normal;
    color: #d4e2ec;

    .contact-item {
      .icon {
        width: 1.25em;
        text-align: center;
      }
    }
  }

  .jobs {
    .job-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .job-period, .job-desc {
        line-height: 1.4;
      }

      .job-position, .job-name {
        font-weight: bold;
        line-height: 0.9;
      }
    }
  }

  .education {
    .education-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;

        .education-details, .education-desc {
          margin-bottom: 0;
        }
      }

      .education-title {
        font-weight: bold;
        line-height: 0.9;
        margin-bottom: 5px;
      }

      .education-details {
        margin-bottom: 5px;

        .education-school, .education-period {
          line-height: 0.9;
        }
      }

      .education-desc {
        margin-bottom: 10px;
      }
    }
  }

  .skills {
    .skill-item {
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 0;
      }

      .skill-name {
        line-height: 1.5;
      }

      .skill-level {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }

  .interests {
    .interest-item {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
      text-align: center;
      width: 80px;

      .interest-icon {
        font-size: 20px;
      }

      .interest-name {
        display: block;
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
}
