body {
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
}

hr {
  border-color: #d4e2ec;
}

.cv {
  border: 1px solid lightgray;
  background: white;
  width: 816px;
  height: 1056px;
  margin-top: 50px;

  section {
    font-family: "Roboto";

    h2.section-title {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 20px;
      line-height: 1.2;
      color: #233f4a;
      font-style: normal;
      letter-spacing: 2px;
      margin-bottom: 15px;

      .icon {
        width: 1em;
        text-align: center;
      }
    }

    .section-contents {
      font-family: "News Cycle";
      font-size: 16px;
      color: #233f4a;
    }
  }

  header {
    position: relative;

    .header-wallpaper {
      width: 100%;
    }

    .header-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  h1.name-surname {
    font-weight: bold;
    font-size: 60px;
    color: #233F4A;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 3px;
    font-family: "News Cycle";
  }

  h2.job-title {
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
    color: #d4e2ec;
  }

  .contact {
    font-size: 18px;
    font-style: normal;
    color: #d4e2ec;

    .contact-item {
      .icon {
        width: 1.25em;
        text-align: center;
      }
    }
  }

  .jobs {
    .job-item {
      margin-bottom: 10px;

      .job-period, .job-desc {
        line-height: 1.4;
      }

      .job-position, .job-name {
        font-weight: bold;
        line-height: 0.9;
      }
    }
  }

  .education {
    .education-item {
      margin-bottom: 5px;

      .education-title {
        font-weight: bold;
        line-height: 0.9;
      }
      .education-school, .education-period {
        line-height: 0.9;
      }
    }
  }

  .skills {
    .skill-item {
      margin-bottom: 3px;

      .skill-name {
        line-height: 1.5;
      }
      .skill-level {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}
