@media print {
  @page {
    size: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  @page:first {
    margin-top: 0;
  }
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

.job-item {
  break-inside: avoid;
  break-before: auto;
  break-after: auto;
}

.cv {
  .cv-page {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    width: 220mm;
    // height: 297mm;
  }
}