@media print {
  @page {
    size: auto;
  }
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

.cv {
  .cv-page {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    width: 220mm;
    // height: 297mm;
  }
}