@media print {
  @page {
    size: auto;
  }
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

.clause {
  margin-bottom: 45px;
}

//html, body {
//  width: 210mm;
//  height: 297mm;
//}

.cv {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.header-wallpaper {
  width: 814px;
  height: 271px;
}
