<!DOCTYPE html>
<html lang="en">

<head>
    {% include head-meta-alt.html %}
    {% include styles.html %}
</head>

<body>
<main class="container-fluid cv">
    <div class="row">
        <section class="col-6 col-pr-6 cv-page">
            {% include header.html %}
            <div class="row">
                <div class="col-11 col-pr-11 ml-5 mt-5">
                    {% include about-me.html %}
                    {% include education.html %}
                    {% include skills.html %}
                    {% include interests-alt.html %}
                </div>
            </div>
        </section>
        <section class="col-6 col-pr-6 cv-page">
            {% include header-alt.html %}
            <div class="row">
                <div class="col-11 col-pr-11 ml-5 mt-5">
                    {% include experience-alt3.html %}
                </div>
            </div>
            {% include footer.html %}
        </section>
    </div>
</main>
</body>

</html>
