<!DOCTYPE html>
<html lang="en">

<head>
    {% include head-meta.html %}

    {% include styles.html %}
</head>

<body>
<main class="container-fluid cv">
    {% include header.html %}
    <div class="row">
        <div class="col-4 col-pr-4 ml-5 mt-5">
            {% include about-me.html %}
            {% include education.html %}
        </div>
        <div class="col-6 col-pr-6 ml-3 mt-5">
            {% include experience-alt2.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-pr-4 ml-5">
            {% include skills.html %}
        </div>
        <div class="col-6 col-pr-6 ml-3">
            {% include interests-alt.html %}
        </div>
    </div>
    {% include footer.html %}
</main>
</body>

</html>