<!DOCTYPE html>
<html lang="en">

<head>
    {% include head-meta.html %}
    {% include styles.html %}
</head>

<body>
<main class="container-fluid cv">
    <div class="row">
        <section class="col-12 col-pr-12 cv-page">
            {% include header.html %}
            <div class="row">
                <div class="col-11 col-pr-11 ml-5 pr-5 mt-5">
                    {% include about-me.html %}
                    <hr/>
                </div>
                <div class="col-11 col-pr-11 ml-5 pr-5 mt-2">
                    {% include education.html %}
                    <hr/>
                </div>
                <div class="col-11 col-pr-11 ml-5 pr-5 mt-2">
                    {% include experience.html %}
                    <hr/>
                </div>
                <div class="col-11 col-pr-11 ml-5 pr-5 mt-2">
                    {% include skills.html %}
                    <hr/>
                </div>
                <div class="col-11 col-pr-11 ml-5 pr-5 mt-2">
                    {% include interests.html %}
                </div>
            </div>
            {% include footer.html %}
        </section>
    </div>
</main>
</body>

</html>
