<!DOCTYPE html>
<html lang="en">

<head>
    {% include head-meta.html %}

    {% include styles.html %}
</head>

<body>
<div class="container cv">
    {% include header.html %}
    <div class="row">
        <div class="col-4 ml-5 mt-5">
            {% include about-me.html %}
            <div class="mt-4">
                {% include education.html %}
            </div>
        </div>
        <div class="col-7 ml-2 mt-5">
            {% include experience.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-4 ml-5 mt-5">
            {% include skills.html %}
        </div>
        <div class="col-7 mt-5">
            {% include interests.html %}
        </div>
    </div>
    <hr/>
    {% include footer.html %}
</div>
</body>

</html>